body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(18,18,18);
  font-family: 'Montserrat', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.logohover:hover {
  transition: 2s ease;
  transform: scale(1.1)
}

.logohover {
  transition: 1s ease;
  animation: logoLoad 1.5s ease-out;
}

.nav {
  animation: navLoad 1.5s ease;
}

.navB {
  animation: logoLoad 2s ease;
}

.popin {
  animation: textLoad 1.5s;
}

.navitem:hover {
  transition: 1s ease;
  transform: scaleX(1.1);
}

.menu {
  animation: menuLoad 1s ease;
}
@keyframes logoLoad {
  from {
    opacity: 0;
    transform: scale(.9);
  } to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes navLoad {
  from {
    opacity: 0;
    transform: translateY(-10px);
  } to {
    opacity: 1;
  }
}

@keyframes textLoad {
  from {
    opacity: 0;
    transform: translateX(-100px)
  } to {
    opacity: 1;
  }
}

@keyframes menuLoad {
  from {
    height: 0px
  }
}